POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=jefferson
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/jefferson
DATABASE_URL_LOCAL=postgresql+psycopg://postgres:postgres@localhost:5432/jefferson
ALEMBIC_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/jefferson
ENVIRONMENT=local
